{% extends '::base.html.twig' %}
{% block body %}
  <button type="button" id="test">test</button>
{% endblock%}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/javascripts/question.js') }}" ></script>
{% endblock %}